.header{
  background-image: url(resources/images/the-flatiron-building.png);
}
body{
  font-family: helvetica;
}
.body{
  background-color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 32px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
h4{
  font-size: 23px;
  font-weight: bold;
}
h5{
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
